{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% macro render_form(form, form_prefix) %}
    {% if form.translated_field_names %}
        {{ language_dependent_content_tabs(form, tab_id_prefix=form_prefix) }}
        <div class="form-divider"></div>
    {% endif %}
    {{ render_monolingual_fields(form) }}
{% endmacro %}

{{ component_formset.management_form }}
{%  for f in component_formset %}
    {{ render_form(f, form_prefix=component_form_prefix) }}
{% endfor %}
