{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}

{% if component_form.translated_field_names %}
    {{ language_dependent_content_tabs(component_form, tab_id_prefix=component_form_prefix) }}
    <div class="form-divider"></div>
{% endif %}
{{ render_monolingual_fields(component_form) }}
