{% extends "shoop/admin/base.jinja" %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs, render_monolingual_fields %}
{% from "shoop/admin/macros/general.jinja" import content_block, content_with_sidebar %}

{% block content %}
    {% call content_with_sidebar(content_id="shipping_method_form") %}
        <form method="post" id="shipping_method_form">
            {% csrf_token %}
            {% set form_defs = form.form_defs %}
            {% include form_defs["base"].template_name with context %}
            {% if form_defs|length > 1 %}
            {% call content_block(_("Behavior"), ("fa-cubes")) %}
                {% for form_def in form_defs %}
                    {% if form_def != "base" %}
                        {% set component_form_prefix = form_def %}
                        {% set component_formset = form[form_def] %}
                        {% include "shoop/admin/services/_edit_behavior_components_form.jinja" with context %}
                        {% if not loop.last %}
                            <div class="form-divider"></div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endcall %}
            {% endif %}
        </form>
    {% endcall %}
{% endblock %}
